.pokemon-card {
  color: black;
  border-radius: 10px;
  width: 250px;
  height: 268px;
  /* border: solid 0.5px rgb(233, 231, 229); */
  box-shadow: -4px 6px 10px rgba(87, 87, 87, 0.6);
  cursor: pointer;
}

.poke-img {
  width: 100px;
  height: 100px;
}

/* Estilos CSS */
.card-top {
  background-image: url("https://img.freepik.com/free-vector/abstract-yellow-comic-zoom_1409-923.jpg?w=996&t=st=1694966016~exp=1694966616~hmac=df2a6f6be5b9b727d5197bea58b33ae841f6e14bd62e52093048a89bfdfe5826");
  background-size: inherit;
  background-repeat: no-repeat;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  width: 250px;
  height: 134px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  border-top: 10px;
  box-sizing: border-box;
  position: relative;
  z-index: 0;

  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(
      to bottom,
      rgba(17, 201, 17, 0) 0%,
      rgba(66, 121, 66, 0.7) 90%
    );
    box-sizing: border-box;
  }
}

.btn-weigth {
  display: flex;
  color: white;
  margin-right: 15px;
  border-radius: 15px;
  background-color: rgb(14, 185, 14);
  width: 115px;
  height: 10px;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border: none;
  z-index: 1;
}

.card-botton {
  width: 250px;
  height: 134px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-sizing: border-box;
  background-color: rgb(233, 231, 229);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.card-name {
  color: green;
  margin-left: 20px;
}

.card-moves {
  font-family: "Times New Roman", Times, serif;
}
.img-container {
  width: 100%;
  display: flex;
  /* border: solid 1px black; */
}

.button-container {
  width: 100%;
  height: 15px;
  display: flex;
  /* border: solid 1px black; */
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.car-2 {
  display: flex;
}

.card-moves {
  list-style: none;
  display: flex;
  color: green;
  gap: 5px;
  padding: 10px;
  margin-top: -10px;
}

.list-moves {
  display: flex;
}

.move-item {
  text-transform: capitalize;
  padding: 3px;
}
